<h2>add trip</h2>

<form action="/trips" method="post">
    <label for="">title</label>
    <input type="text" name="title">
    
    <label for="">origin</label>
    <input type="text" name="origin">

    <label for="">destination</label>
    <input type="text" name="destination">
    
    <!-- <label for="">start date</label>
    <input type="text" name="start_date">
    
    <label for="">end date</label>
    <input type="text" name="end_date"> -->
    
    <label for="">status</label>
    <input type="text" name="status">
    
    <button>add</button>
</form>