<h2>Explore</h2>

<div class="all-trips">

    <% for (let trip of trips) { %>
        <div class="ui-card">
            <h3>
                <a href="/trips/<%= trip.id %>">
                    <%= trip.title %>

                </a>
            </h3>

        </div>

    <% } %>

</div>